<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<head>
    <meta charset="UTF-8">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header"><a class="navbar-brand">ML Traffic Analyzer</a></div>
            <ul class="nav navbar-nav">
                <li><a href="/">Cameras</a></li>
                <li><a href="/map.html">Map</a></li>
            </ul>
        </div>
    </nav>
    <h1 class="text-center">ML Traffic Analyzer</h1>

</head>
<body>
    <div class="container">
    <form action="/camera" method="POST">
        <select name="whichcam" id="whichcam" class="form-control-static">
            <option disabled selected value> -- Select a Camera -- </option>
            <option value="15">Camera 15</option>
            <option value="16">Camera 16</option>
            <option value="17">Camera 17</option>
            <option value="18">Camera 18</option>
            <option value="19">Camera 19</option>
            <option value="20">Camera 20</option>
            <option value="21">Camera 21</option>
            <option value="22">Camera 22</option>
            <option value="23">Camera 23</option>
            <option value="24">Camera 24</option>
        </select>
        <button type="submit" class="btn btn-default">Check</button>
    </form>

    {% if whichcam %}
        <p class="lead"><b>Looking at:</b> {{ whichcam }} </p>
        <img src="{{ whichcam }}">
    {% endif %}
    {% if pred_con %}
        <p class="lead"><b>Predicted Congestion is:</b> {{ pred_con }} <br/>
    {% endif %}
    {% if pred_lt %}
        <b>Level of light is:</b> {{ pred_lt }} </p>
    {% endif %}

    </div>


</body>
</html>